@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500&display=swap');

$theme-black: #212121;
$theme-white: #FFFFFF;
$theme-grey: #DEDEDE;
$theme-purple: #BB86FC;

