@import '_base.scss';

body {
    box-sizing: border-box;
    text-align: center;
    font-family: "Inter";
    background-color: $theme-black;
    color: $theme-white;
}

.mainSignBox {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoName {
    color: $theme-white;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.logoImg {
    width: 66px;
    height: 66px;
}

.regHeader {
    height: 220px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

form {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    box-sizing: border-box;
    width: 440px;
    height: 61px;
    color: $theme-white;
    border: 1px solid $theme-grey;
    border-radius: 8px;
    background-color: $theme-black;
    padding: 1rem;
    margin: 20px 0 20px 0;

    &::placeholder {
        color: $theme-white;
    }
}

.pageDesc {
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
}

.pageName {
    font-weight: 600;
    font-size: 20px;
    line-height: 24p
}

form {
    >label {
        width: 68px;
        position: relative;
        top: 28px;
        left: -164px;
        background-color: $theme-black;
        font-size: 12px;
    }
}

.formBtn {
    width: 440px;
    height: 61px;
    background: $theme-purple;
    border-radius: 8px;
    color: $theme-white;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    cursor: pointer;
}

.footerText {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: $theme-white;
}

a {
    color: $theme-purple;
    text-decoration: underline;
}